# Database overview notebook

> First time use: follow instructions in the README.md file in this directory.

## Setup

In [1]:
import os
from dotenv import dotenv_values
import pandas
import ipywidgets as widgets

home_dir=os.getenv('HOME')
print("home  : "+home_dir)
mhk_env = dotenv_values(home_dir+"/.mhk")
mhk_home_dir=mhk_env['HOST_MHK_HOME']
app_env = dotenv_values(mhk_home_dir+'/app/.env')
pwd = app_env['MYSQL_ROOT_PASSWORD']

home  : /Users/jrc

In [2]:
%load_ext sql

## Connect to database

### Choose the database

In [98]:
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/mysql".format(pwd=pwd)
%sql $connection_string
databases = %sql SELECT table_schema FROM information_schema.tables WHERE  table_name = 'entities';
dblist = [db[0] for db in databases]
w = widgets.Select(
    options=dblist,
    description='Database:',
    disabled=False,
)
display(w)

32 rows affected.

Select(description='Database:', options=('alunos', 'angelica', 'api_tests', 'china', 'dyncoopnet', 'eiras', 'fâ€¦

In [100]:
db = w.value
w.close()
connection_string = "mysql+mysqlconnector://root:{pwd}@localhost:3307/{db}".format(pwd=pwd,db=db)
%sql $connection_string
print("Selected database: {db} ".format(db=db))

Selected database: toliveira

In [101]:
%config SqlMagic.displaycon=False

## Database status

In [69]:
%sql select class, count(*) from entities group by class

9 rows affected.

[('act', 33),
 ('attribute', 18814),
 ('carta', 5),
 ('class', 17),
 ('evento', 45),
 ('person', 2253),
 ('relation', 3362),
 ('rperson', 64),
 ('source', 30)]

## Recent sources

In [70]:
%sql select sources.id, sources.kleiofile, entities.updated from sources left join entities on (sources.id=entities.id) order by updated desc limit 10

10 rows affected.

[('dehergne-E', '/kleio-home/sources/toliveira/sources/dehergne-e.cli', datetime.datetime(2021, 5, 13, 15, 46, 41)),
 ('dehergne-w', '/kleio-home/sources/toliveira/sources/dehergne-w.cli', datetime.datetime(2021, 5, 10, 23, 44, 16)),
 ('dehergne-U', '/kleio-home/sources/toliveira/sources/dehergne-u.cli', datetime.datetime(2021, 5, 10, 23, 44, 9)),
 ('dehergne-q', '/kleio-home/sources/toliveira/sources/dehergne-q.cli', datetime.datetime(2021, 5, 10, 23, 44, 4)),
 ('dehergne-p', '/kleio-home/sources/toliveira/sources/dehergne-p.cli', datetime.datetime(2021, 5, 10, 23, 43, 34)),
 ('dehergne-G', '/kleio-home/sources/toliveira/sources/dehergne-g.cli', datetime.datetime(2021, 5, 10, 23, 42, 53)),
 ('dehergne-B', '/kleio-home/sources/toliveira/sources/dehergne-b.cli', datetime.datetime(2021, 5, 10, 23, 42, 16)),
 ('dehergne-z', '/kleio-home/sources/toliveira/sources/dehergne-z.cli', datetime.datetime(2021, 5, 10, 23, 41, 55)),
 ('dehergne-x', '/kleio-home/sources/toliveira/sources/dehergne-x.cli', datetime.datetime(2021, 5, 10, 23, 41, 43)),
 ('dehergne-V', '/kleio-home/sources/toliveira/sources/dehergne-v.cli', datetime.datetime(2021, 5, 10, 23, 41, 20))]